* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_container {
  height: 80px;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.nav_container h1 {
  padding: 10px;
}

.logo {
  padding-left: 20px;
}
.header {
  position: relative;
  right: 80px;
}

.icon {
  padding-right: 20px;
}
